# Compiled C++ executables
compare_version_numbers
integer_to_english_words
longest_palindrome_substring
longest_palindrome_substring_dp
longest_substring_without_repeating_characters

# Object and output files
*.o
*.out

# VSCode specific
.vscode/